.nav {
  margin: 0 15px;

  &__list {
    @include flex-v-center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 43px;
    }
  }

  &__link {
    font-weight: 300;
    color: var(--swatch-181);
    line-height: var(--lh-170);
  }
}
