// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --prim-font-family: "ITCAvant", sans-serif;
  --second-font-family: "HeptaSlab", sans-serif;
  --content-width: 1500px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --prim-color: #6670ee;
  --swatch-e0e: #e0e2fc;
  --swatch-d1d: #d1d2e7;
  --swatch-667: #6670ee;
  --swatch-181: #181c50;

  // line-heiht
  --lh-125: 125%;
  --lh-150: 150%;
  --lh-170: 170%;

  // font-size
  --fsize-12: 12px;
  --fsize-14: 14px;
  --fsize-16: 16px;
  --fsize-18: 18px;
  --fsize-24: 24px;
  --fsize-32: 32px;
  --fsize-64: 64px;

  // border-radius
  --br-12: 12px
}
